{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container mx-auto mt-6">
        <div class="text-center text-3xl font-semibold text-gray-800 uppercase border-b-2 border-gray-800 p-2">
            Accueil
        </div>
        <p class="mt-4">Sur cette application, vous avez la possibilité de créer des slides. Pour ce faire, vous devez mettre en ligne des images dans la section <strong>"Ajouter une image"</strong>. Sur cette section, vous pouvez également visionner toutes les images mise en ligne par les autres utilisateurs.</p>

        <p class="mt-4">Une fois les images mises en ligne, il est à présent possible de créer un slide à partir des images de la communauté. Nous pouvons appliquer un effet <i>ken burn</i> aux images de ce slide.</p>

        <p class="mt-4">Dans la section <strong>"Galerie"</strong>, nous pouvons consulter la liste de toutes les slides créees par les membres de la communauté.</p>
    </div>
{% endblock %}
