{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h2 class="display-4">Accueil</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur placerat eget purus sit amet condimentum. Praesent eget nibh quam. </p>
        <hr class="my-4">
        <p>Nam ipsum risus, vestibulum et convallis ut, suscipit et risus.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
{% endblock %}
