:root {
    --x: 40px;
    --y: 40px;
    --z: 0px;
    --timer: 4s;
}

.imageContainer {
    background-color: #333;
    width: 450px;
    height: 300px;
    overflow: hidden;
}

.imageContainer img {
    animation: kenburn var(--timer);
}

@keyframes kenburn {

    95% {
        transform: scale3d(1.5, 1.5, 1.5) translate3d(var(--x), var(--y), var(--z));
        animation-timing-function: ease-in;
        opacity: 0.5;
    }
    100% {
        opacity: 0.2;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}