:root {
    --x: 40px;
    --y: 40px;
    --z: 0px;
    --timer: 4s;
}

.imageContainer {
    background-color: #333;
    width: 450px;
    height: 300px;
    overflow: hidden;
}

.imageContainer img {
    animation: kenburn var(--timer);
}

@keyframes kenburn {

    95% {
        transform: scale3d(1.5, 1.5, 1.5) translate3d(var(--x), var(--y), var(--z));
        animation-timing-function: ease-in;
        opacity: 0.5;
    }
    100% {
        opacity: 0.2;
    }
}