{% extends 'base.html.twig' %}

{% block title %}Slides{% endblock %}

{% block body %}
    <div class="flex content-start flex-wrap bg-gray-200 h-48">
        {% for slide in slides %}
            <div class="w-1/3 p-2">
                <a href="{{ path('slide_show', { 'id': slide.id }) }}">
                    <img class="h-32 object-cover"  src="/uploads/{{ slide.upload.name }}">
                    <div class="text-gray-700 text-center bg-gray-400 p-2">{{ slide.name }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
