{% extends 'base.html.twig' %}

{% block title %}Slides{% endblock %}

{% block body %}
    <div class="flex content-start flex-wrap bg-gray-200 h-48">
        {% for slide in slides %}
            <div class="w-1/3 p-2">
                <div class="text-gray-700 text-center bg-gray-400 p-2">{{ slide.name }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
